* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.4;
  color: #444;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  background: url('images/cherry-blossoms.jpg') right fixed;
  background-size: 150%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.section-intro,
.section-how,
.section-workflow,
.section-create,
.section-publish,
.section-register {
  padding: 50px 0 30px;
  background-color: #fff;
  position: relative;
}


.section-intro {
  display: block;
  color: #fff;
  background-color: #b01e2d;
  background: rgba(176, 30, 45, 0.85);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.section-intro p {
  font-size: 1.2em;
  line-height: 1.2;
}

.section-intro .editor {
  font-size: 1em;
}

.section-create,
.footer {
  color: #fff;
  background-color: #222;
}

.section-create {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.section-create::before {
  content: "";
  width: 200%;
  height: 80%;
  border-top-right-radius: 400%;
  position: absolute;
  left: 0;
  top: 20%;
  z-index: -1;
  background: #292929;
}


.section-intro {
  text-align: center;
}

.footer {
  padding: 40px 0;
  font-size:0.7em;
  color: #eee;
  margin-top:30px;
  text-align: center;
}


h1, h2, h3 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-bottom:0.8em;
  text-align: center;
}

h1 {
  font-size: 2.4em;
  line-height: 1;
  font-weight: bolder;
}
h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.4em;
}

p {
  padding-bottom: 0.8em;
}

form {
  margin: 1em 1em;
  padding: 2em;
  border-radius: 4px;
  background-color: #b01e2d;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  box-shadow: 0 6px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
form::before{
  content: "";
  width: 110%;
  height: 70%;
  border-top-right-radius: 400%;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: -1;
  background: #c02031;
}

form p {
  font-size: 1em;
}

label {
  display: block;
  padding: 1.4em 0 0.5em;
  font-size: 0.8em;
  color: #fff;
}

label .comment {
  font-style: italic;
  color: rgba(255,255,255,0.9);
  font-size: 0.8em;
}

input[type='email'] {
  font-size:0.9em;
  font-family: monospace;
  color: #444;
  padding: 0.4em 0.2em;
  border: none;
  width:100%;
  -moz-box-shadow:    inset 0 2px 4px #000000;
  -webkit-box-shadow: inset 0 2px 4px #000000;
  box-shadow:         inset 0 2px 4px #000000;
}

a.btn-register:link,
a.btn-register:visited,
input[type='submit'] {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 1em auto 2em;
  padding: 0.4em 1em;
  border-radius:4px;
  font-size: 0.9em;
  font-weight: normal;
  background-color: transparent;
  border: solid 2px #fff;
  color:#fff;
  box-shadow: 0 0px 6px rgba(0,0,0,0.4);
}
a.btn-register:hover,
a.btn-register:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  border-color: #fff;
  background-color: #fff;
  color:#c5202f;
  text-shadow: none;
}


input[type='submit'] {
  margin: 1.4em 0;
  width:100%;
}

.screenshot-intro,
.screenshot-markup,
.screenshot-admin {
  width: 220px;
  height:110px;
  border-style: none;
  padding:1em auto 0;
  overflow: hidden;
}

.screenshot-markup,
.screenshot-admin {
  padding-top:1em;
}

.screenshot-intro img,
.screenshot-markup img,
.screenshot-admin img {
  width: 100%;
}

.image-worflow {
  width:100%;
  margin:2em 0 3em 0;
}

.image-publish {
  width:100%;
  margin:1em 0 0;
}

.lobsterpot {
  position: relative;
  overflow: hidden;
  padding:0;
  margin:0;
  height:0;
}

.editor {
  display: block;
  border-radius: 4px;
  box-shadow: 0 3px 16px rgba(0,0,0,0.8);
  margin:30px 0 50px;
  font-family: "Menlo", "Consolas", "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 14px;
}

.editor-title {
  background-color: #ccc;
  background: -webkit-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(207, 207, 207) 7%, rgb(170, 170, 170) 100%); 
  color: #333;
  text-shadow: 0 1px 0 #fff;
  padding: 4px;
  border-radius: 4px 4px 0 0;
  border-bottom:solid 1px #000;
  font-weight: bold;
  text-align: center;
}
.editor-text {
  text-align: left;
  text-shadow: none;
  overflow: hidden;
  font-size: 0.7em;
}

.editor img {
  width: 100%;
}

.editor pre[class*="language-"] {
  margin: 0;
  border-radius: 0 0 4px 4px;
}


.thanks {
  display: none;
}

.thanks:target {
  display: inherit;
}


@media all and (min-width: 400px) {

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 3em;
  }

  .container {
    width: 380px;
  }

  .screenshot-intro,
  .screenshot-markup,
  .screenshot-admin {
    width: 380px;
    height:190px;
    margin:1em auto 0;
  }

  .editor-text {
    font-size: 0.8em;
  }

}


@media all and (min-width: 560px) {

  body {
    background-size: 130%;
  }

  h2, h3, form h3 {
    text-align: left;
  }

  .container {
    width: 480px;
  }

  .screenshot-intro,
  .screenshot-markup,
  .screenshot-admin {
    width: 480px;
    height:240px;
    margin:1em auto 0;
  }

  .section-intro p {
    font-size: 1.6em;
  }
  .section-intro .strapline {
    font-size: 1.2em;
  }

  .editor-text {
    font-size: 0.9em;
  }

}

@media all and (min-width: 750px) {

  body {
    background-size: 110%;
  }

  h1 {
    font-size: 4em;
  }

  .container {
    width: 600px;
  }

  .screenshot-intro,
  .screenshot-markup,
  .screenshot-admin {
    width: 600px;
    height:300px;
    margin:1em auto 0;
  }

  form {
    margin: 1em 4em;
  }

    .editor-text {
    font-size: 1em;
  }

}

